/* Empty. Add your own CSS if you like */

.body {
	
}
.fullWidth {
	width:  100%;
	margin:  0px;
	padding: 0px;
}

.landing {
	padding-top: 43px;
	text-align: center;
	/* background-color: #D1CFC9 !important; */
	background-color: rgba(163, 158, 146, .5);
	height: 100%;
	
}
.landing img{	
	width:  100%;
	overflow: hidden;
}

.landing-title {
	font-family: 'Indie Flower',fantasy ;
	text-align: center;
	font-size:  50px;
}

#log-in-button {
	background-color: #4A7787;
	display: block;
	color: white;
	font-weight: 900;
	height: 45px;
	border-radius: 10px;
	width: 200px;
	margin: 25px auto;
	margin-bottom: 5px;
	text-decoration: none;
}

.plain {
	text-decoration: none;
}
