
<ion-view title="Snaap!">
<ion-content>
<p>This service makes it easy to use the cordova-plugin-camera plugin to take pictures and video from a device.This service makes it easy to use the cordova-plugin-camera plugin to take pictures and video from a device.This service makes it easy to use the cordova-plugin-camera plugin to take pictures and video from a device.</p>
 	<div padding="true">
	   <button class="button button-full button-assertive" ng-click="takePhoto()">
	     Take Photo
	   </button>
	   <button class="button button-full button-assertive" ng-click="choosePhoto()">
	      Choose Photo
	    </button>
	    <center>
	    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center"></center>
	  </div>
<ion-content>
</ion-view>