<ion-view view-title="Login">
  <ion-content class="landing">
  <div class="fullWidth">
      <img src="img/lost_dog_with_bundle.jpeg">
      <h2 class="landing-title">SnaapDog</h2>
      <h5>Find Your Dog in Real Time</h5>
    </div>
  
    <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Userame">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Password">
  </label>
</div>
<div>
<!--       <a ng-href="#/login" class="plain"><button class="button" id="log-in-button"> Log In
      </button></a> -->
      <a ng-click="go()" class="plain"><button class="button button-block button-positive button-calm" id="log-in-button"> Log In
      </button></a>
      </div>
      <div>
      <a ng-href="#/register">Register here</a>
      </div>


  </ion-content>
</ion-view>
