<ion-view view-title="Login">
  <ion-content>
    <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Userame">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Password">
  </label>
</div>
<div class="login">
  <a ng-href="#/tab/dash" class="plain"><button class="button submit-button">
  Submit
</button></a>
  <p>New user?      <a ng-href="#/register">Create an account.</a></p>
</div>


  </ion-content>
</ion-view>
