<ion-view view-title="Owner Post">
<ion-nav-bar class="bar-dark nav-title-slide-ios7"></ion-nav-bar>
  <ion-content>
<!-- image of dog -->
<div class="list card">
  <div class="item item-avatar">
    <img src="{{user.photo}}">
    <h2>{{user.username}}</h2>
    <p>{{post.date}}</p>
  </div>
  <div class="item item-body">
    <img class="full-image" src="{{post.photo}}">
    <p>
      {{post.description}}
    </p>
  </div>
    <ul>
        <li class="item"><span>Reward</span>{{post.reward}}</li>
        <li class="item"><span>Dog Name</span>{{post.dog_name}</li>
        <li class="item"><span>Reward</span>{{post.tag_id}}</li>
        <li class="item"><span>Size</span>{{post.size}}</li>
        <li class="item"><span>Color</span>{{post.color}}</li>
        <li class="item"><span>Coat</span>{{post.hair}}</li>
        <li class="item"><span>Breed</span>{{post.breed}}</li>
    </ul>
</div>
<button class="button button-full button-dark">
  Contact
</button>

</ion-content>

</ion-view>

