
<!-- image of dog -->
<div>
	<!-- Image posted -->
      <img src="cover.jpg">

</div>

<!-- list of information -->
<!-- Dog name -->
	
	 <Span>Dog Name</Span>
    <span class="input-label">{{}}</span>

 <!-- End of dog name -->



    <label>Tag ID</label>
    <span class="input-label">{{}}}</span>
    <!-- End of ID tag -->

    <label>Size</label>
    <span class="input-label">{{}}</span>
    <!-- End of size-->



	
    <label>Color</label>
    <span class="input-label">{{Color}}</span>
    <!-- End of color -->



    <label>Coat</label>
    <span class="input-label">{{Coat}}</span>
    <!-- End of coat-->



    <label>Breed</label>
    <span class="input-label" ng-options="">{{Breed}}</span>
    <!-- End of breed -->


    <label>Description</label>
    <span class="input-label">{{Description}}</span>
    <!-- End of Description -->


    <label>Reward</label>
    <span class="input-label">{{Reward}}</span>
    <!-- End of reward-->
 

<button class="button button-balanced">
  Contact
</button>
