
<!-- image of dog -->
<div>
	<!-- Image posted -->
      <img src="cover.jpg">

</div>

<!-- list of information -->
<!-- Dog name -->
	
	 <Span>Dog Name</Span>
    <span >{{}}</span>

 <!-- End of dog name -->



    <label>Tag ID</label>
    <span >{{}}}</span>
    <!-- End of ID tag -->

    <label> Last Seen </label>
     <span >{{}}}</span>

    <label>Size</label>
    <span >{{}}</span>
    <!-- End of size-->



	
    <label>Color</label>
    <span >{{Color}}</span>
    <!-- End of color -->



    <label>Coat</label>
    <span >{{Coat}}</span>
    <!-- End of coat-->



    <label>Breed</label>
    <span  ng-options="">{{Breed}}</span>
    <!-- End of breed -->


    <label>Description</label>
    <span ">{{Description}}</span>
    <!-- End of Description -->


    <label>Reward</label>
    <span >{{Reward}}</span>
    <!-- End of reward-->
 

<button class="button button-balanced">
  Contact
</button>
