
<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Post" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw-outline" href="#/tab/post">
    <ion-nav-view name="tab-post"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Main" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Listing" icon-off="ion-ios-paw" icon-on="ion-ios-paw" href="#/tab/listing">
    <ion-nav-view name="tab-listing"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<!-- NOTE TO SELF : BOTTOM TABS -->




