<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Sightings -->
  <ion-tab title="Post" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw-outline" href="#/tab/post">
    <ion-nav-view name="tab-sightings"></ion-nav-view>
  </ion-tab>

 <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

 <!-- Dashboard Tab -->
  <ion-tab title="Listings" icon-off="ion-ios-paw" icon-on="ion-ios-paw" href="#/listings">
    <ion-nav-view name="listings"></ion-nav-view>
  </ion-tab>




</ion-tabs>

<!-- NOTE TO SELF : BOTTOM TABS -->
